
<ion-content class="ion-padding">
  <ion-item lines="none">
    <h1>Ion4Material</h1>
  </ion-item>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="full">
          <ion-label slot="start">
            <i class="material-icons md-36">credit_card</i>
          </ion-label>
          <ion-input placeholder="Identification" type="text"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label slot="start">
            <i class="material-icons md-36">face</i>
          </ion-label>
          <ion-input placeholder="Firts Name" type="text"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label slot="start">
            <i class="material-icons md-36">face</i>
          </ion-label>
          <ion-input placeholder="Last Name" type="text"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label slot="start">
            <i class="material-icons md-36">room</i>
          </ion-label>
          <ion-input placeholder="Address" type="text"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label slot="start">
            <i class="material-icons md-36">call</i>
          </ion-label>
          <ion-input placeholder="Phone Number" type="text"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label slot="start">
            <i class="material-icons md-36">email</i>
          </ion-label>
          <ion-input placeholder="email@demo.com" type="text"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label slot="start">
            <i class="material-icons md-36">vpn_key</i>
          </ion-label>
          <ion-input placeholder="* * * * * *" type="password"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <p class="ion-text-center">Already have an account? LOGIN.</p>
  <br>
  <ion-button expand="full" color="primary">SIGN IN</ion-button>
  <br>
  <p class="ion-text-center" style="font-size: 14px;">By registering you accept the terms and conditions.</p>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title><p>&#x24B8; Lorem, ipsum.</p></ion-title>
  </ion-toolbar>
</ion-footer>
