
<ion-content class="ion-padding">
  <!--div class="container">
  </div-->
  <div class="logo">
    <h1>I4M</h1>
  </div>

  <!--div class="content_inputs ion-padding">
  </div-->
  <ion-list lines="none">
    <ion-item lines="inset">
      <ion-label position="stacked">Username</ion-label>
      <ion-input placeholder="JhonDoe" type="text"></ion-input>
    </ion-item>
    <br>
  
    <ion-item lines="inset">
      <ion-label position="stacked">Email</ion-label>
      <ion-input placeholder="JhonDoe@email.com" type="text"></ion-input>
    </ion-item>
    <br>
  
    <ion-item lines="inset">
      <ion-label position="stacked">Password</ion-label>
      <ion-input placeholder="* * * * * *" type="password"></ion-input>
      <ion-note slot="end">
        <ion-icon name="eye" color="dark" size="large"></ion-icon>
      </ion-note>
    </ion-item>
    <br>
  </ion-list>

  <ion-button expand="block" color="light">SIGN UP</ion-button>
  
  <br><br>
  <div class="ion-text-center">
    <p>Already have an account? <strong>LOGIN</strong></p>
  </div>

  <br><br>
  <hr>
  <br>
  <div class="ion-text-center">
    <p>By registering you accept the terms and conditions</p>
  </div>
  

</ion-content>
