

<ion-content>
  <div class="bg-image"></div>
  <div class="ion-padding main-container">
    <!--div class="logo-app">
      <img src="../../../assets/plato.svg" alt="" height="100px" width="100px">
    </div-->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="dark">Lorem, ipsum dolor.</ion-card-subtitle>
        <ion-card-title color="dark">SIGN UP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label slot="end" position="">
              <i class="material-icons">account_circle</i>
            </ion-label>
            <ion-input placeholder="Username" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end">
              <i class="material-icons">email</i>
            </ion-label>
            <ion-input placeholder="email@demo.com" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="end">
              <i class="material-icons">vpn_key</i>
            </ion-label>
            <ion-input placeholder="* * * * * *" type="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>

      <div style="height: 50px;"></div>
      <ion-button expand="full" color="dark">SIGN UP</ion-button>
      
    </ion-card>

    <br><br>
    <p class="ion-text-center">Already have an account? LOGIN.</p>
    <br>
    <p class="ion-text-center" style="font-size: 14px;">By registering you accept the terms and conditions.</p>
  </div>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title><p class="footer-tittle">&#x24B8; Lorem, ipsum.</p></ion-title>
  </ion-toolbar>
</ion-footer>
