<ion-header>
  <ion-toolbar color="success">
    <ion-title><h4>Music App | Settings</h4></ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/profile3.jpg" alt="" style="width: 42px; height: 42px; margin-right: 10px; margin-top: 10px;">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-item>
      <ion-label slot="start" style="font-weight: 100; font-size: 12px;">Privacidad y Ubicacion</ion-label>
      <ion-icon name="information-circle-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start" style="font-weight: 100; font-size: 12px;">Reproduccion</ion-label>
      <ion-icon name="sync" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start" style="font-weight: 100; font-size: 12px;">Descargas</ion-label>
      <ion-icon name="cloud-download" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start" style="font-weight: 100; font-size: 12px;">Almacenamiento</ion-label>
      <ion-icon name="filing" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label slot="start" style="font-weight: 100; font-size: 12px;">Acerca de</ion-label>
    </ion-item>
  </ion-list>

  <hr style="width: 100%;">
  
  <ion-list lines="none">
    <ion-item>
      <ion-label slot="start" style="font-weight: 100; font-size: 12px;">Notificaciones</ion-label>
      <ion-checkbox checked="true" color="success" slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label slot="start" style="font-weight: 100; font-size: 12px;">Clean Cache</ion-label>
      <ion-checkbox color="success" slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
