<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Product List</ion-title>
    <ion-icon name="options" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>New Products</ion-label>
    </ion-list-header>
    <ion-item-sliding>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../assets/store/moda8.jpg" alt="">
        </ion-thumbnail>
        <ion-label>
          <h2>Product Name</h2>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </ion-label>
        <ion-note slot="end">
          <p>$99</p>
        </ion-note>
      </ion-item>
      <!--Options-->
      <ion-item-options>
        <ion-item-option color="Dark">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
        <ion-item-option color="light">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../assets/store/moda11.jpg" alt="">
        </ion-thumbnail>
        <ion-label>
          <h2>Product Name</h2>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </ion-label>
        <ion-note slot="end">
          <p>$99</p>
        </ion-note>
      </ion-item>
      <!--Options-->
      <ion-item-options>
        <ion-item-option color="Dark">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
        <ion-item-option color="light">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../assets/store/moda5.jpg" alt="">
        </ion-thumbnail>
        <ion-label>
          <h2>Product Name</h2>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </ion-label>
        <ion-note slot="end">
          <p>$79</p>
        </ion-note>
      </ion-item>
      <!--Options-->
      <ion-item-options>
        <ion-item-option color="Dark">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
        <ion-item-option color="light">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../assets/store/moda3.jpg" alt="">
        </ion-thumbnail>
        <ion-label>
          <h2>Product Name</h2>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </ion-label>
        <ion-note slot="end">
          <p>$42</p>
        </ion-note>
      </ion-item>
      <!--Options-->
      <ion-item-options>
        <ion-item-option color="Dark">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
        <ion-item-option color="light">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../assets/store/moda12.jpg" alt="">
        </ion-thumbnail>
        <ion-label>
          <h2>Product Name</h2>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </ion-label>
        <ion-note slot="end">
          <p>$69</p>
        </ion-note>
      </ion-item>
      <!--Options-->
      <ion-item-options>
        <ion-item-option color="Dark">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
        <ion-item-option color="light">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>

  <br>

  <div class="banner-store-info">
    <img src="../../assets/shop.jpg" alt="">
    <div class="banner-info">
      70% <strong>Off</strong>
    </div>
  </div>

  <br>
  <!--Grid products-->
  <ion-item lines="none">
    <ion-label color="dark">Grid Products</ion-label>
  </ion-item>
  <div class="grid">
    <div class="grid-item">
      <img src="../../assets/store/moda12.jpg" alt="">
    </div>
    <div class="grid-item">
      <img src="../../assets/store/men01.jpg" alt="">
    </div>
    <div class="grid-item">
      <img src="../../assets/store/moda9.jpg" alt="">
    </div>
  </div>
  <div class="grid">
    <div class="grid-item">
      <img src="../../assets/store/men04.jpg" alt="">
    </div>
    <div class="grid-item">
      <img src="../../assets/store/men05.jpg" alt="">
    </div>
    <div class="grid-item">
      <img src="../../assets/store/moda7.jpg" alt="">
    </div>
  </div>
  
  <br>
  <div class="product-card-description">
    <img src="../../assets/store/moda11.jpg" alt="">
    <div class="info">
      <h1>Product Name</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Cupiditate unde sapiente ratione 
        architecto nesciunt nobis! Dignissimos!
      </p>
    </div>
  </div>
  <br>

  <div class="product-card-description">
    <img src="../../assets/store/moda6.jpg" alt="">
    <div class="info">
      <h1>Product Name 2</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Cupiditate unde sapiente ratione 
        architecto nesciunt nobis! Dignissimos!
      </p>
    </div>

    <br><br><br>
  </div>

</ion-content>
