

<ion-content class="ion-padding">
  <div class="logo">
    <h1>I4M</h1>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="full">
          <ion-label slot="end">
            <i class="material-icons md-36">call</i>
          </ion-label>
          <ion-input placeholder="Phone Number" type="text"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="end">
            <i class="material-icons md-36">email</i>
          </ion-label>
          <ion-input placeholder="email@demo.com" type="text"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="end">
            <i class="material-icons md-36">vpn_key</i>
          </ion-label>
          <ion-input placeholder="* * * * * *" type="password"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div style="height: 50px;"></div>
  <ion-button expand="full" color="success">SIGN UP</ion-button>
  
    
  <div>
    <p style="text-align: center;">
      ------ or ------ 
    </p> 
  </div>
  
  
  
  <ion-button color="danger" expand="full">
    GOOGLE
    <ion-icon name="logo-google" size="large"  slot="end"></ion-icon>
  </ion-button>

  <ion-button color="primary" expand="full">
    FACEBOOK
    <ion-icon name="logo-facebook" size="large"  slot="end"></ion-icon>
  </ion-button>

  <ion-button color="tertiary" expand="full">
    TWITTER
    <ion-icon name="logo-twitter" size="large"  slot="end"></ion-icon>
  </ion-button>


  <br>
  <p class="ion-text-center">Already have an account? LOGIN.</p>
  <br>
  <p class="ion-text-center" style="font-size: 14px;">By registering you accept the terms and conditions.</p>
    
</ion-content>
