@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap');

/*font-family: 'Quicksand', sans-serif;*/

p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.logo{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background: white;
    border-radius: 50% 50%;
    display: block;
    margin: 10px auto;

    h1{
        color: dodgerblue;
        font-size: 50px;
        font-weight: lighter;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        margin: 15px 10px 15px 5px;
        position: absolute;
    }
}