<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="end">
      <img src="../../assets/profile3.jpg" alt="" style="width: 42px; height: 42px; margin-right: 10px; margin-top: 10px;">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo">
    <h1>DASHBOARD</h1>
  </div>

  <ion-grid>
    <ion-row class="align-items-center">
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="alarm" size="large" color="tertiary"></ion-icon>
        <p>ToDo</p>
      </ion-col>
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="apps" size="large" color="tertiary"></ion-icon>
        <p>Apps</p>
      </ion-col>
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="book" size="large" color="tertiary"></ion-icon>
        <p>Books</p>
      </ion-col>
    </ion-row>
    <ion-row class="align-items-center">
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="cart" size="large" color="tertiary"></ion-icon>
        <p>Store</p>
      </ion-col>
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="cloud-upload" size="large" color="tertiary"></ion-icon>
        <p>Upload</p>
      </ion-col>
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="globe" size="large" color="tertiary"></ion-icon>
        <p>Navigator</p>
      </ion-col>
    </ion-row>
    <ion-row class="align-items-center">
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="search" size="large" color="tertiary"></ion-icon>
        <p>Search</p>
      </ion-col>
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="save" size="large" color="tertiary"></ion-icon>
        <p>Database</p>
      </ion-col>
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="globe" size="large" color="tertiary"></ion-icon>
        <p>photos</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
