<ion-header>
  <ion-toolbar color="dark" class="ion-padding">
    <!--ion-icon name="appstore" slot="start" size="large"></ion-icon-->
    <ion-title>Store</ion-title>
    <ion-icon name="options" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-intro">
    <div class="text-info">
      <p class="mini-text">New Arrivals</p>
      <h1>Summer 2020</h1>
      <p class="secondary-text">Lorem, ipsum dolor.</p>
    </div>
  </div>

  <ion-content class="ion-padding">
    <ion-item lines="none">
      <ion-label slot="start">Best Seller</ion-label>
      <ion-note color="dark" slot="end">See all ></ion-note>
    </ion-item>


    <ion-slides pager="false" [options]="slideOpts2">
      <ion-slide>
        <div class="card-store">
          <img src="../../assets/store/moda1.jpg">
          <div class="name-product">Product</div>
          <div class="price-product">$79</div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card-store">
          <img src="../../assets/store/moda2.jpg">
        
          <div class="name-product">Product</div>
          <div class="price-product">$79</div>
         
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card-store">
          <img src="../../assets/store/moda3.jpg">
          <div class="name-product">Product</div>
          <div class="price-product">$79</div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card-store">
          <img src="../../assets/store/moda4.jpg">
          <div class="name-product">Product</div>
          <div class="price-product">$79</div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card-store">
          <img src="../../assets/store/moda5.jpg">
          <div class="name-product">Product</div>
          <div class="price-product">$79</div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card-store">
          <img src="../../assets/store/moda6.jpg">
          <div class="name-product">Product</div>
          <div class="price-product">$79</div>
        </div>
      </ion-slide>
    </ion-slides>

    <br>
    <!--Categories-->
    <div class="banner-category">
      <img src="../../assets/women-category.jpg" alt="">
      <div class="category-name">For Women</div>
    </div>
    <br>
    <div class="banner-category">
      <img src="../../assets/men-category.jpg" alt="">
      <div class="category-name">For Men</div>
    </div>
    <br>
    <br>

    <!--product detail-->
    <ion-item lines="none">
      <div class="card-item">
        <img src="../../assets/store/moda12.jpg" alt="">
        <div class="card-item-name">Item Name</div>
        <div class="card-item-price">Item price</div>
        <div class="card-item-rating">rating</div>
      </div>

      <div class="card-item">
        <img src="../../assets/store/moda11.jpg" alt="">
        <div class="card-item-name">Item Name</div>
        <div class="card-item-price">Item price</div>
        <div class="card-item-rating">rating</div>
      </div>
    </ion-item>
    <br>
    <ion-item lines="none">
      <div class="card-item">
        <img src="../../assets/store/moda8.jpg" alt="">
        <div class="card-item-name">Item Name</div>
        <div class="card-item-price">Item price</div>
        <div class="card-item-rating">rating</div>
      </div>

      <div class="card-item">
        <img src="../../assets/store/moda9.jpg" alt="">
        <div class="card-item-name">Item Name</div>
        <div class="card-item-price">Item price</div>
        <div class="card-item-rating">rating</div>
      </div>
    </ion-item>

    <br>
    <div class="banner-store">
      <img src="../../assets/shop.jpg" alt="">
      <div class="banner-btn">
        <button>Locate Store</button>
      </div>
    </div>
    <div style="height: 120px;"></div>



  </ion-content>

</ion-content>
