<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="../../assets/profile3.jpg" alt="" style="width: 42px; height: 42px; margin-right: 10px; margin-top: 10px;">
    </ion-avatar>
    <ion-label>
      <h4>Jhon Doe</h4>
      <p>Lorem ipsum dolor sit.</p>
    </ion-label>
    
    <ion-icon name="more" slot="end"></ion-icon>
    
  </ion-item>

  <ion-list lines="none">
    <ion-item lines="none">
      <ion-label slot="start">Notifications</ion-label>
      <ion-icon name="arrow-forward" slot="end" color="tertiary"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Security</ion-label>
      <ion-icon name="arrow-forward" slot="end" color="tertiary"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Lenguaje</ion-label>
      <ion-icon name="arrow-forward" slot="end" color="tertiary"></ion-icon>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-label slot="start">Clean Cache</ion-label>
      <ion-icon name="arrow-forward" slot="end" color="tertiary"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">Terms & Privacy</ion-label>
      <ion-icon name="arrow-forward" slot="end" color="tertiary"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
