
<ion-content class="ion-padding">

  <br><br>
  <div class="logo">
    <h1>Ion4Material</h1>
  </div>
    
  <ion-list>
  
    <ion-item lines="full">
      <ion-label slot="end">
        <i class="material-icons md-36">email</i>
      </ion-label>
      <ion-input placeholder="email@demo.com" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label slot="end">
        <i class="material-icons md-36">vpn_key</i>
      </ion-label>
      <ion-input placeholder="* * * * * *" type="password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-note slot="end">Remember password</ion-note>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-button expand="full" color="dark">LOGIN</ion-button>
  </ion-list>
  <br><br><br>
  <p style="text-align: center;">You do not have an account? SIGN UP!</p>
  <br><br><br><br><br>
  <p style="text-align: center;">I forgot my password</p>

</ion-content>
