<ion-header>
  <ion-toolbar color="success">
    <ion-title><h4>Music App | Playing</h4></ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/profile3.jpg" alt="" style="width: 42px; height: 42px; margin-right: 10px; margin-top: 10px;">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label lines="none">
    <h1 class="ion-text-center">Muse</h1>
  </ion-label>

  <ion-item lines="none">
    <img src="../../assets/albums/muse.jpg" alt="" class="image-playing">
  </ion-item> 

  <ion-label lines="none">
    <h3 class="ion-text-center song-name">Time is running out</h3>
    <p class="ion-text-center song-album">Absolution</p>
  </ion-label>

  <ion-item lines="none">
    <ion-range min="0" max="100" color="success">
      <ion-note slot="end">4:54</ion-note>
    </ion-range>
  </ion-item>

  <br>

  <div class="btn-music">
    <table>
      <tr>
        <th>
          <ion-icon name="skip-backward" slot="icon-only" class="ion-text-center"></ion-icon>
        </th>
        <th>
          <ion-icon name="pause" size="large" slot="icon-only" class="ion-text-center"></ion-icon>
        </th>
        <th>          
          <ion-icon name="play" size="large" slot="icon-only" class="ion-text-center"></ion-icon>
        </th>
        <th>
          <ion-icon name="skip-forward" slot="icon-only" class="ion-text-center"></ion-icon>
        </th>
      </tr>
    </table>
  </div>
    
  <ion-list lines="none">
    <ion-item>
      <ion-avatar>
        <img src="../../assets/albums/muse.jpg" alt="">
      </ion-avatar>
      <ion-item lines="none">
        <ion-label>
          <h4>Muse</h4>
          <p>Time is running out</p>
        </ion-label>
      </ion-item>
      <ion-note slot="end">4:54</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="../../assets/albums/muse.jpg" alt="">
      </ion-avatar>
      <ion-item lines="none">
        <ion-label>
          <h4>Muse</h4>
          <p>Hysteria</p>
        </ion-label>
      </ion-item>
      <ion-note slot="end">3:42</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="../../assets/albums/muse.jpg" alt="">
      </ion-avatar>
      <ion-item lines="none">
        <ion-label>
          <h4>Muse</h4>
          <p>Apocalypse please</p>
        </ion-label>
      </ion-item>
      <ion-note slot="end">4:26</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="../../assets/albums/muse.jpg" alt="">
      </ion-avatar>
      <ion-item lines="none">
        <ion-label>
          <h4>Muse</h4>
          <p>Sign for absolution</p>
        </ion-label>
      </ion-item>
      <ion-note slot="end">5:24</ion-note>
    </ion-item>

  </ion-list>
  
</ion-content>
