<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Welcome Jhon Doe</ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/profile3.jpg" alt="" style="width: 42px; height: 42px; margin-right: 10px; margin-top: 10px;">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item lines="none">
    <ion-note color="tertiary" slot="end">Today</ion-note>
  </ion-item>
  

  <div class="msgleft">
    <img src="../../assets/profile4.jpg" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
  </div>
  <br>

  <div class="msgright">
    <p>Lorem ipsum dolor sit.</p>
  </div>

  <div class="msgleft">
    <img src="../../assets/profile4.jpg" alt="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
  </div>
  <br>

  <div class="inputmsg">
    <ion-item lines="none" color="tertiary" >
      <input type="text" class="inputbox" placeholder="Write Message...">
      <ion-icon name="send" color="light" slot="end"></ion-icon>
    </ion-item>
  </div>

</ion-content>
<!--ion-footer >
  <ion-item lines="none" color="tertiary" >
    <input type="text" class="inputbox">
    <ion-icon name="send" color="light" slot="end"></ion-icon>
  </ion-item>
</!ion-footer-->

