<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="sidemenu" auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ion4Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-header">
    
    <h1 class="ion-text-center">Welcome to Ion4Material</h1>
    <p class="ion-text-center p-header">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, voluptatem?</p>
    
  </div>

  <div class="ion-padding">    


    <ion-list>
      <ion-list-header>Registers</ion-list-header>
        <ion-button color="primary" expand="full" routerLink="/register1">REGISTER 1</ion-button>
        <ion-button color="primary" expand="full" routerLink="/register2">REGISTER 2</ion-button>
        <ion-button color="primary" expand="full" routerLink="/register3">REGISTER 3</ion-button>
        <ion-button color="primary" expand="full" routerLink="/register4">REGISTER 4</ion-button>
        <ion-button color="primary" expand="full" routerLink="/register5">REGISTER 5</ion-button>
      
      <ion-list-header>Logins</ion-list-header>
        <ion-button color="primary" expand="full" routerLink="/login1">LOGIN 1</ion-button>
        <ion-button color="primary" expand="full" routerLink="/login2">LOGIN 2</ion-button>
        <ion-button color="primary" expand="full" routerLink="/login3">LOGIN 3</ion-button>
        <ion-button color="primary" expand="full" routerLink="/login4">LOGIN 4</ion-button>
        <ion-button color="primary" expand="full" routerLink="/login5">LOGIN 5</ion-button>

      <ion-list-header>Recovers</ion-list-header>
        <ion-button color="primary" expand="full" routerLink="/accountrecover1">RECOVER 1</ion-button>
        <ion-button color="primary" expand="full" routerLink="/accountrecover2">RECOVER 2</ion-button>
        <ion-button color="primary" expand="full" routerLink="/accountrecover3">RECOVER 3</ion-button>
        <ion-button color="primary" expand="full" routerLink="/accountrecover4">RECOVER 4</ion-button>
        <ion-button color="primary" expand="full" routerLink="/accountrecover5">RECOVER 5</ion-button>

      <ion-list-header>Apps</ion-list-header>
        <ion-button color="primary" expand="full" routerLink="/todo">TODO</ion-button>
        <ion-button color="primary" expand="full" routerLink="/musictabs/music/">MUSIC APP</ion-button>
        <ion-button color="primary" expand="full" routerLink="/chattabs/contacts/">CHAT APP</ion-button>
        <ion-button color="primary" expand="full" routerLink="/gallery">GALLERY</ion-button>
        <ion-button color="primary" expand="full" routerLink="/fileupload">FILE UPLOAD</ion-button>  
        <ion-button color="primary" expand="full" routerLink="/ecommercetabsmenu/ecommercehome/">ECOMMERCE</ion-button>

      <ion-list-header>Dashboards</ion-list-header>
        <ion-button color="primary" expand="full" routerLink="/dashboard1">DASHBOARD 1</ion-button>
        <ion-button color="primary" expand="full" routerLink="/dashboard2">DASHBOARD 2</ion-button>
        <ion-button color="primary" expand="full" routerLink="/dashboard3">DASHBOARD 3</ion-button>
        <ion-button color="primary" expand="full" routerLink="/dashboard4">DASHBOARD 4</ion-button>
        <ion-button color="primary" expand="full" routerLink="/dashboard5">DASHBOARD 5</ion-button>
        <ion-button color="primary" expand="full" (click)="openMenu()">SIDEBAR</ion-button>

      <ion-list-header>Maps</ion-list-header>  
        <ion-button color="primary" expand="full" routerLink="/map1">MAP 1</ion-button>
        <ion-button color="primary" expand="full" routerLink="/map2">MAP 2</ion-button>
        <ion-button color="primary" expand="full" routerLink="/map3">MAP 3</ion-button>
        <ion-button color="primary" expand="full" routerLink="/map4">MAP 4</ion-button>

      <ion-list-header>Charts</ion-list-header>
      <ion-button color="primary" expand="full" routerLink="/charts">CHARTS</ion-button>
      <!--ion-list-header>Custom Components</ion-list-header>
        <ion-button color="primary" expand="full" routerLink="/custom">CUSTOM CSS</ion-button-->
      <ion-list-header>Countries Select</ion-list-header>
      <ion-button color="primary" expand="full" routerLink="/countries">COUNTRIES LIST</ion-button>

      <ion-list-header>Tags Components</ion-list-header>
      <ion-button color="primary" expand="full" routerLink="/tags">TAGS</ion-button>

      <ion-list-header>Contact List</ion-list-header>
      <ion-button color="primary" expand="full" routerLink="/contactlist">CONTACT LIST</ion-button>
    </ion-list>
  </div>

</ion-content>
