
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="music">
      <ion-icon name="home" color="success"></ion-icon>
      <!--ion-label>Home</ion-label>
      <ion-badge>6</ion-badge-->
    </ion-tab-button>

    <ion-tab-button tab="albums">
      <ion-icon name="apps" color="success"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="playlist">
      <ion-icon name="musical-notes" color="success"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="options">
      <ion-icon name="options" color="success"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
