<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard 2</ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/profile3.jpg" alt="" style="width: 42px; height: 42px; margin-right: 10px; margin-top: 10px;">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br><br><br>
  <ion-grid>
    <ion-row class="align-items-center">
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="alarm" size="large" color="primary"></ion-icon>
        <p>ToDo</p>
      </ion-col>
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="apps" size="large" color="primary"></ion-icon>
        <p>Apps</p>
      </ion-col>
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="book" size="large" color="primary"></ion-icon>
        <p>Books</p>
      </ion-col>
    </ion-row>
    <ion-row class="align-items-center">
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="cart" size="large" color="primary"></ion-icon>
        <p>Store</p>
      </ion-col>
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="cloud-upload" size="large" color="primary"></ion-icon>
        <p>Upload</p>
      </ion-col>
      <ion-col size="4" class="ion-text-center" style="height: 128px;">
        <ion-icon name="globe" size="large" color="primary"></ion-icon>
        <p>Navigator</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
