@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700&display=swap');

.logo{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background: white;
    border-radius: 50% 50%;
    display: block;
    margin: 10px auto;

    h1{
        color: #1e3799;
        font-size: 60px;
        font-weight: lighter;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        margin: 15px 10px 15px 5px;
        position: absolute;
    }
}

p{
    font-weight: 100;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: #1e3799;
}

i{
    color: #1e3799;
}

