<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="end">
      <img src="../../assets/profile3.jpg" alt="" style="width: 42px; height: 42px; margin-right: 10px; margin-top: 10px;">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo">
    <h1>Ion4Material</h1>
    <p class="ion-text-center">Dashboard</p>
  </div>
  <ion-card>
    <br><br>

    <ion-grid>
      
      <ion-row class="align-items-center">
        <ion-col size="4" class="ion-text-center" style="height: 128px;">
          <ion-icon name="cart" size="large" color="danger"></ion-icon>
          <p>Store</p>
        </ion-col>
        <ion-col size="4" class="ion-text-center" style="height: 128px;">
          <ion-icon name="cloud-upload" size="large" color="danger"></ion-icon>
          <p>Upload</p>
        </ion-col>
        <ion-col size="4" class="ion-text-center" style="height: 128px;">
          <ion-icon name="globe" size="large" color="danger"></ion-icon>
          <p>Navigator</p>
        </ion-col>
      </ion-row>
      <ion-row class="align-items-center">
        <ion-col size="4" class="ion-text-center" style="height: 128px;">
          <ion-icon name="search" size="large" color="danger"></ion-icon>
          <p>Search</p>
        </ion-col>
        <ion-col size="4" class="ion-text-center" style="height: 128px;">
          <ion-icon name="save" size="large" color="danger"></ion-icon>
          <p>Database</p>
        </ion-col>
        <ion-col size="4" class="ion-text-center" style="height: 128px;">
          <ion-icon name="globe" size="large" color="danger"></ion-icon>
          <p>photos</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <br><br>

  <ion-list lines="none">
    <ion-item>
      <ion-label>D MMM YYYY H:mm</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" min="1997" max="2010" value="2005-06-17T11:06Z"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-toggle slot="end" color="danger"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Remember Data</ion-label>
      <ion-checkbox color="danger"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="danger">Save</ion-button>
  
</ion-content>

