<ion-header>
  <ion-toolbar color="success">
    <ion-title><h4>Music App | Albums</h4></ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/profile3.jpg" alt="" style="width: 42px; height: 42px; margin-right: 10px; margin-top: 10px;">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--Banner Information-->
  <div class="banner">
    <img src="../../assets/guitar.jpg" alt="">
    <div class="infobanner">
      <h1>New Music!</h1>
    </div>  
  </div>
  <br><br><br>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="../../assets/albums/adele.jpg">
    </ion-thumbnail>
    <ion-label>Adele</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="../../assets/albums/muse.jpg">
    </ion-thumbnail>
    <ion-label>Muse</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="../../assets/albums/coldplay.jpg">
    </ion-thumbnail>
    <ion-label>Coldplay</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="../../assets/albums/lenny.jpg">
    </ion-thumbnail>
    <ion-label>Lenny</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="../../assets/albums/panic.jpg">
    </ion-thumbnail>
    <ion-label>Panic at the disco</ion-label>
  </ion-item>
  

</ion-content>
