
<ion-content>
  <div class="content-header">
    <h1 class="example">Ion4Material.</h1>
  </div>

  <div class="content">
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Quaerat minima quas optio eveniet alias, 
      quos repellendus voluptatum officiis laborum nam 
      perspiciatis ex earum totam labore.
    </p>
      
  </div>
  <div class="btns">
    <ion-button color="primary" expand="block" routerLink="/welcome">Get Started!</ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title><p class="footer-tittle">&#x24B8; M21studios - Tavo Herduq</p></ion-title>
  </ion-toolbar>
</ion-footer>
