<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Custom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-header ion-padding">
    <h1>Welcome to Ion4Material</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, voluptatem?</p>
  </div>

  <div>
    <ion-label>Buttons</ion-label>
    <ion-list lines="none">
      <button class="btn-primary">Btn Primary</button>
      <ion-text>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing 
          elit. Natus dolorum vitae, commodi dolore cumque 
          asperiores totam possimus unde 
          a laboriosam officia earum reiciendis esse id.</p>
      </ion-text>
      <br>
      <button class="btn-secondary">Btn Secondary</button>
      <br>
      <button class="btn-light">Btn Light</button>
      <br>
      <button class="btn-dark">Btn Dark</button>
      <br>
      <button class="btn-danger">Btn Danger</button>
      <br>
      <button class="btn-bluemartina">Btn Blue Martina</button>
      <br>
      <button class="btn-sunflower">Btn Sunflower</button>
    </ion-list>

    <ion-label>Inputs</ion-label>
    <ion-list lines="none">
      <input type="text" class="input-primary" placeholder="Lorem ipsum">
      <br>
      <input type="text" class="input-primary" placeholder="Lorem ipsum">
        
        
      
    </ion-list>
  </div>

</ion-content>
