
<ion-content class="ion-padding">
  <div style="height: 50px;"></div>
  <div class="logo">
    <h1>I4M</h1>
  </div>
 
  <ion-card>
    <ion-card-content>
        <ion-list>
          <ion-item lines="full">
            <ion-label slot="start" position="">
              <i class="material-icons md-36">account_circle</i>
            </ion-label>
            <ion-input placeholder="Username" type="text"></ion-input>
          </ion-item>
          <br>
          <ion-item lines="full">
            <ion-label slot="start">
              <i class="material-icons md-36">email</i>
            </ion-label>
            <ion-input placeholder="email@demo.com" type="text"></ion-input>
          </ion-item>
          <br>
          <ion-item lines="full">
            <ion-label slot="start">
              <i class="material-icons md-36">vpn_key</i>
            </ion-label>
            <ion-input placeholder="* * * * * *" type="password"></ion-input>
          </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>

  <br>
  <p class="ion-text-center">Already have an account? LOGIN.</p>
  <br>
  <p class="ion-text-center" style="font-size: 14px;">By registering you accept the terms and conditions.</p>
  
  
  <div style="height: 50px;"></div>
  <ion-button expand="full" color="primary">REGISTER!</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title><p>&#x24B8; Lorem, ipsum.</p></ion-title>
  </ion-toolbar>
</ion-footer>
