<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="height:100px;"></div>
  <div class="logo">
    <img src="../../assets/contrasena1.svg" alt="">
  </div>
  <br><br>
  <p class="ion-text-center">have you forgotten your password? Don't worry, 
    send us your email to send you a recovery 
    link for your user id.
  </p>
  <br><br>
  <ion-item lines="inset">
    <ion-input type="text" placeholder="you@email.com"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" color="primary">SEND</ion-button>
</ion-content>
